
<ul>
  <li><a href="/">Welcome</a></li>
</ul>
<div id="game">
<h1> <%= "\u{1F91C} \u{1F4DC} \u{2702} " %> Enter your choice into the address bar: <span id="players">(player1, player2).</span> <br> Will you be rock, paper or scissors?</h1>
</div>
<br>

<br>
<div id="display_result">
<h1 id="result">**** <%= @winner %> is the winner! ****</h1>
</div>
